html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0f0f0f;
  color: #fff;
}

section {
  padding: 80px 10%;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 40px;
}

p {
  opacity: 0.85;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-buttons {
  margin-top: 30px;
}

.btn {
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
  display: inline-block;
}

.primary {
  background: #25D366;
  color: #000;
}

.secondary {
  border: 1px solid #25D366;
  color: #25D366;
}

/* SERVICES */
.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
}

.service-card,
.work-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover,
.work-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}


/* WORK */
.work-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.work-card {
  background: #1c1c1c;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-weight: bold;
  opacity: 0.9;
}

/* CTA */
.cta {
  background: linear-gradient(135deg, #111, #1f1f1f);
}

.whatsapp-float {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #25D366;
  color: #000;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.work-card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.work-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.work-card span {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background: rgba(0,0,0,0.6);
  font-weight: bold;
}

.work-card:hover img {
  transform: scale(1.1);
}

/* Scroll animations */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.contact-container {
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-container input,
.contact-container textarea {
  width: 100%;
  margin: 12px 0;
  padding: 14px;
  background: #161616;
  border: none;
  border-radius: 10px;
  color: #fff;
}

.contact-container textarea {
  min-height: 120px;
  resize: none;
}
